* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.top {
  height: 1024px;
  background-image: url(img/topimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__heading {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 788px;
  margin-top: 217px;
}
.top__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 481px;
  margin-top: 32px;
}
.top__text_bold {
  font-weight: 700;
}
.top__button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  font-family: inherit;
  margin-top: 44px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
}
.top__button:hover {
  background-color: #EB443F;
}

.game-box, .game {
  background: #000915;
}
.game-box__content, .game__content {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-top: 128px;
  padding-bottom: 128px;
}
.game-box__item, .game__item {
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  padding: 5px;
  transition: all 0.3s;
}
.game-box__item:hover, .game__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #001944;
  border-radius: 16px;
}
.game-box__img, .game__img {
  width: 379px;
  border-radius: 16px;
}
.game-box__name, .game__name {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.game1 {
  background: #000915;
  display: flex;
  flex-direction: row;
}
.game1-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 135px;
  padding-top: 234px;
  padding-bottom: 234px;
}
.game1-box__for2 {
  display: flex;
  gap: 135px;
  padding-top: 239px;
  padding-bottom: 239px;
}
.game1__heading {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.game1__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  width: 584px;
  padding-top: 32px;
}
.game1__button {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  box-sizing: border-box;
  font-family: inherit;
  outline: none;
  transition: all 0.3s;
  margin-top: 32px;
  cursor: pointer;
}
.game1__button:hover {
  background-color: #EB443F;
}
.game1__img {
  width: 485px;
  background: transparent;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .top__heading {
    width: 343px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 238px;
  }
  .top__text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }
  .top__button {
    align-self: center;
    margin-top: 32px;
  }
  .game__content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  .game__img {
    width: 343px;
  }
  .game1 {
    text-align: center;
    align-items: center;
  }
  .game1-box {
    padding-top: 51px;
    padding-bottom: 85px;
    display: flex;
    flex-wrap: wrap;
    gap: 65px;
  }
  .game1-box__for2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-bottom: 90px;
    gap: 64px;
  }
  .game1__heading {
    text-align: center;
    font-size: 32px;
  }
  .game1__text {
    width: 343px;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
  }
  .game1__img {
    width: 343px;
  }
}/*# sourceMappingURL=style.css.map */